.custom-expansion-panel img
    width 300px

.custom-expansion-panel .logo
    width auto

a.header-anchor
    display none


.custom-block.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    background-color #ffe6e6
    border-color #c00
    color #4d0000
