<html lang="en">
  <head>
    <!-- Katex -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    />
    <style is:global>
      .katex-display > .katex {
        border-radius: 0.25rem;
        background-color: rgba(var(--color-card), var(--tw-bg-opacity));
        --tw-bg-opacity: 0.75;
        padding: 0.25rem;
      }
      .katex .base {
        color: rgba(var(--color-text-base), var(--tw-text-opacity));
      }
    </style>
  </head>

  <body>
    <slot />
  </body>
</html>
